.welcome{
  background-image: url(../images/assets/backgrounds/h_img.jpg);
  text-align: center;
  color: white;
  background-size: 100%;
  padding: 140px;

}
.about{
  text-align: center;
  padding: 50px;

}
.services{
  text-align: center;
  padding: 50px;
  position: relative;
}
.services-text{
  margin-bottom: 15%;
}
.whatwedo{
  text-align: center;
}
.portfolio{
  text-align: center;
  
}
.cont{
  text-align: center;
}
.footer {
  text-align: center;
}
body{
  margin: 0px;
}
