.welcome{
  background-image: url(../images/assets/backgrounds/h_img.jpg);
  text-align: center;
  color: white;

}
.about{
  text-align: center;

}
.services{
  text-align: center;
}
.whatwedo{
  text-align: center;
}
.portfolio{
  text-align: center;
  
}
.cont{
  text-align: center;
}

